<div class="container form">
  <h3 class="center">
    <% if language=='en' %>
      Registeration
    <% elsif language=='sc' %>
      线上报名
    <% else %>
      線上報名
    <% end %>
  </h3>
  <hr class="hr">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <%= form_tag new_register_path,method: :get, :id => 'new_register' do %>
        <div style="display:inline-block;">
          <% if language=='en' %>
            <%= label :n, "Full Name" %>
          <% elsif language=='sc' %>
            <%= label :n, "报名者姓名" %>
          <% else %>
            <%= label :n, "報名者姓名" %>
          <% end %>
        </div>
        <div class="error">
          <p class="namehide hidden nameok">&nbsp;&nbsp;<i class="fa fa-check"></i></p>
          <p class="namehide hidden nameblank"><strong>&nbsp;&nbsp;
            <% if language=='en' %>
              Please enter name
            <% elsif language=='sc' %>
              请输入姓名
            <% else %>
              請輸入姓名
            <% end %>
          </strong></p>
        </div>
        <% if language=='en' %>
          <%= text_field_tag :n, params[:n], placeholder:"Name", class: 'form-control' %>
        <% elsif language=='sc' %>
          <%= text_field_tag :n, params[:n], placeholder:"名称", class: 'form-control' %>
        <% else %>
          <%= text_field_tag :n, params[:n], placeholder:"姓名", class: 'form-control' %>
        <% end %>
        <div style="display:inline-block;">
          <%= label :email, "E-mail" %>
        </div>
        <div class="error">
          <p class="emailhide hidden emailok">&nbsp;&nbsp;<i class="fa fa-check"></i></p>
          <p class="emailhide hidden emailblank">&nbsp;&nbsp;
            <% if language=='en' %>
              Please enter a E-mail
            <% elsif language=='sc' %>
              请输入E-mail
            <% else %>
              請輸入E-mail
            <% end %>
          </p>
          <p class="emailhide hidden emailmatch">&nbsp;&nbsp;
            <% if language=='en' %>
              Please enter a valid E-mail
            <% elsif language=='sc' %>
              请输入一个有效的E-mail
            <% else %>
              請輸入一個有效的E-mail
            <% end %>
          </p>
          <p class="emailhide hidden emailchecking">&nbsp;&nbsp;<img src="/assets/loader.gif" />
            <% if language=='en' %>
              Validating...
            <% elsif language=='sc' %>
              验证中...
            <% else %>
              驗證中...
            <% end %>
          </p>
          <p class="emailhide hidden emailused">&nbsp;&nbsp;
            <% if language=='en' %>
              This email is already registered
            <% elsif language=='sc' %>
              此E-mail已报名
            <% else %>
              此E-mail已報名
            <% end %>
          </p>
        </div>
        <%= text_field_tag :email, params[:email], placeholder:"E-mail", class: 'form-control' %>
        <br>
        <div class="center">
          <% if language=='en' %>
            <%=submit_tag "SUBMIT", name: nil, class: "btn btn-lg btn-success" %>
          <% elsif language=='sc' %>
            <%=submit_tag "提交", name: nil, class: "btn btn-lg btn-success" %>
          <% else %>
            <%=submit_tag "送出", name: nil, class: "btn btn-lg btn-success" %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    if($('#email').val()!=""){$('#email').val("")}
    if($('#n').val()!=""){checkName()}
  })
  $('#n').each(function(){
    var elem = $(this)
    var nowtime=0
    var oldtime=0
    elem.data('oldval',elem.val())
    elem.bind("propertychange change click keyup input paste", function(event){
      if(elem.data('oldval')!=elem.val()){
        nowtime++
        $('.namehide').addClass('hidden')
        elem.data('oldval',elem.val())
        setTimeout(function(){
          oldtime++
          if(nowtime==oldtime){checkName()}
        },1000)
      }
    })
  })
  $('#email').each(function(){
    var elem = $(this)
    var nowtime=0
    var oldtime=0
    elem.data('oldval',elem.val())
    elem.bind("propertychange change click keyup input paste", function(event){
      if(elem.data('oldval')!=elem.val()){
        nowemail=$('#email').val()
        nowtime++
        $('.emailhide').addClass('hidden')
        elem.data('oldval',elem.val())
        setTimeout(function(){
          oldtime++
          if(nowtime==oldtime){
            if(checkEmail()==true){
              $('.emailchecking').removeClass('hidden')
              $.getJSON("/static_pages/check_email?email="+nowemail,function(result){
                if(nowtime==oldtime){
                  if(result==false){$('.emailused').removeClass('hidden')}
                  else{$('.emailok').removeClass('hidden')}
                  $('.emailchecking').addClass('hidden')
                }
              })
            }
          }
        },1000)
      }
    })
  })
  $('#new_register').submit(function(){
    checkName()
    checkEmail()
    if(!$('.nameok').hasClass("hidden") && !$('.emailok').hasClass("hidden")){return true}
    else{return false}
  })
  function checkName(){
    if($('#n').val()==""){$('.nameblank').removeClass('hidden')}
    else{$('.nameok').removeClass('hidden')}
  }
  function checkEmail(){
    val=$('#email').val()
    if(val==""){$('.emailblank').removeClass('hidden')}
    else if(validEmail(val)==false){$('.emailmatch').removeClass('hidden')}
    else{return true}
  }
  function usedEmail(){
    $('.emailchecking').removeClass('hidden')
    $.getJSON("/static_pages/check_email?email="+$('#email').val(),function(result){
      if(result!=false){
        $('.emailok').removeClass("hidden")
        $('.emailchecking').addClass("hidden")
      }
    })
  }
  function validEmail(value){
    var rule = new RegExp(/^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{1,10}$/i)
    return rule.test(value)
  }
</script>