<div class="jumbotron" style="margin-top: -30px;" id="add_image">
  <div class="center hometitle1">
  2016 03 01
  </div>
  <div class="center hometitle2">
  LINE DDD
  </div>
  <div class="center hometitle3">
  3D列印競賽開放報名
  </div>
  <div class="center hometitle4">
  激發你的創意
  </div>
  <div class="center hometitle5">
  讓平面設計在三維空間浴火重生
  </div>

  <div class="signupbottom" style="width:20vw; height:5vw;">
    <a href="declare" style="text-decoration:none;">
      <p class="signupbottom" style="padding:1.1vw 0 0 5.5vw; font-size:2vw; color:#FFF;"><strong>立刻報名！</strong></p>
    </a>
  </div>
</div>
<div class="center intro">
  <h1>
    <b>三月一日</b><br>將你的想像化成實體
  </h1>
  <div>
    LINE DDD將舉辦創意3D列印造型大賽，發揮想像力，讓創意不再只侷限於腦海<br>活動將邀請國際選手參與，藉此互相交流技術，專業裁判將對你的設計結晶進行評估，敬請各方好手蒞臨參與！
  </div>
  <%= image_tag("logo.jpg", :alt => "rss feed", style:"width:40vw") %>
</div>
<div class="center sponsor">
  <h3>活動贊助</h3>
  <hr style="height:1px; background-color:#BEBEBE; width:80%">
  <div class="row">
    <div class="col-md-12">
      <%= image_tag("bugatti.png",width:200) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-md-4">
      <%= image_tag("astonmartin.png", width:300) %>
    </div>
    <div class="col-md-1 col-md-4">
      <%= image_tag("porsche.png", width:170) %>
    </div>
    <div class="col-md-1 col-md-4">
      <%= image_tag("pagani.png", width:210) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-md-4">
      <%= image_tag("maserati.jpg", width:200) %>
    </div>
    <div class="col-md-1 col-md-4">
      <%= image_tag("lamborghini.png", width:160) %>
    </div>
    <div class="col-md-1 col-md-4">
      <%= image_tag("ferrari.jpg", width:100) %>
    </div>
  </div>
</div>