<div class="jumbotron" style="margin-top: -80px;" id="add_image">
  <div class="container-fluid">
    <div style="width:20vw; height:91vh;"></div>
  </div>
</div>

<div class="intro center">
  <div class="container-fluid">
    <div class="intro_holder">
      <div class="text_holder slideright">
        <p class="bgtext">lineddd</p>
      </div>
      <div class="text_holder slideleft">
        <p class="bgtext">3dprinting</p>
      </div>
      <div class="text_holder slideup">
        <div class="vertical_text">
          <p class="bgtext">2016</p>
        </div>
      </div>
      <div class="introtext">
        <h1><span style="border-bottom: 1.5px solid;font-family:Helvetica;">LINE DDD</span></h1><h1><span style="border-bottom: 1.5px solid;line-height: 45px;"><%= t("邀請您參加3D列印創新大賽") %></span></h1>
        <br>
        <h4><%= t("發揮想像力，讓創意不再只侷限於腦海") %>
        <br>
          <%= t("對自己的設計有信心卻苦無門路發揮嗎？") %>
        <br>
          <%= t("報名並上傳設計圖") %>
        <br>
          <%= t("我們尋找的人就是你！") %>
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="process center">
  <div class="process_panel">
    <div class="process_Holder thinking">
      <div class="process_gray">
        <div class="process_text">
          <h1><%= t("想法") %> <span class="glyphicon glyphicon-hand-up"></span></h1>
          <h3><%= t("腦力激盪，將創意彙整") %>
          </h3>
        </div>
      </div>
    </div>
    <div class="process_Holder register">
      <div class="process_gray">
        <div class="process_text">
          <h1><%= t("設計") %> <i class="fa fa-laptop"></i></h1>
          <h3><%= t("製作設計圖，想法具現化") %></h3>
        </div>
      </div>
    </div>
    <div class="process_Holder upload">
      <div class="process_gray">
        <div class="process_text">
          <h1><%= t("上傳") %> <span class="glyphicon glyphicon-upload"></span></h1>
          <h3 style="text-transform:uppercase;"><%= t("將你的設計上傳至LINE DDD") %></h3>
        </div>
      </div>
    </div>
    <div class="process_Holder actualize">
      <div class="process_gray">
        <div class="process_text">
          <h1><%= t("實現") %> <span class="glyphicon glyphicon-star-empty"></span></h1>
          <h3><%= t("讓更多人看見你的才華！") %></h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="purpose center">
  <div id="container" class="standby fadein">
    <div class="d1_holder hiddenleft">
      <div class="d1">D</div>
    </div>
    <div class="d2_holder hiddenleft">
      <div class="d2">D</div>
    </div>
    <div class="d3_holder hiddenleft">
      <div class="d3">D</div>
    </div>
  </div>
  <div style="color:black;font-size: 30px;font-weight: 400;">活動目的</div>
  <!-- <a>wefwe</a> -->
</div>

<div class="works center">
  <div class="container-fluid">
    <div class="workbg1">
      <div class="bg_holder">
        <h1><%= t("作品") %></h1>
      </div>
    </div>

    <div class="workbg2">
      <div class="bg_holder">
        <h3>
          design.
          <br>
          dream.
          <br>
          discover.
        </h3>
        <div class="triangle"></div>
      </div>
    </div>

    <div class="workbg3">
      <div class="bg_holder"></div>
    </div>

    <div class="workbg4">
      <div class="bg_holder"></div>
    </div>

    <div class="workbg5">
      <div class="bg_holder">
        <h1>
          your design
          <br>
          your dream
        </h1>
      </div>
    </div>

    <div class="workbg6">
      <div class="bg_holder"></div>
    </div>

    <% @works.each do |work| %>
      <% number=1 if @displayingwork.col1==work.id %>
      <% number=2 if @displayingwork.col2==work.id %>
      <% number=3 if @displayingwork.col3==work.id %>
      <% number=4 if @displayingwork.col4==work.id %>
      <% number=5 if @displayingwork.col5==work.id %>
      <% number=6 if @displayingwork.col6==work.id %>
      <div class="work<%=number%>">
        <div class="work_holder">
          <div class="image_border">
            <div class="image_holder" style="background: url('<%= work.picture %>') no-repeat 50% 50%;background-size: cover;"></div>
          </div>
          <a href="#" onClick="window.open('<%= work_path(work.id) %>','test','width=780,height=600,directories=no,location=no,menubar=no,scrollbars=yes,status=no,toolbar=no,resizable=yes,left=50%,top=50%,screenX=50%,screenY=50%');return false">
            <div class="text_holder">
              <h1><%= work.workname %></h1>
              <h4>by <%= work.name %></h4>
              <span class="glyphicon glyphicon-circle-arrow-right icon"></span>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="sponsors center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 title">
        <img src="assets/laurelleft.png"/>
          <%= t("贊助") %>
        <img src="assets/laurelright.png"/>
      </div>
    </div>
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <div class="sponsorbg sponsorbg1"></div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail ">
            <div class="sponsorbg sponsorbg2"></div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <div class="sponsorbg sponsorbg3"></div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <div class="sponsorbg sponsorbg4"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <div class="sponsorbg sponsorbg5"></div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <div class="sponsorbg sponsorbg6"></div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <div class="sponsorbg sponsorbg7"></div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div style="text-align: right;padding:20px;">
  <a href="#header" class="page-scroll">
    <i class="fa fa-chevron-up" style="font-size:50px;border:7px solid;border-radius: 90px;padding: 5px;"></i>
  </a>
</div> -->

<div class="banner">
  <div class="banner_holder">
    <% number=1 %>
    <% @banners.each do |banner| %>
      <% if banner.url!="" && banner.url!=nil %>
        <a href="<%= banner.url %>" target="_blank">
      <% end %>
        <div class="image_holder banner<%= number %>" style="background:url('<%= banner.picture.url %>') no-repeat 50% 50%;background-size:cover;"></div>
      <% if banner.url!="" && banner.url!=nil %>
        </a>
      <% end %>
      <% number+=1 %>
    <% end %>
  </div>
</div>

<div class="contactus contactTrigger panel-default">
  <div class="container-fluid">
    <div class="bg-overlay pattern"></div>
    <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="tab" id="headingOne">
      <div class="default-text" id="default-text">
        <h1 class="center"><%= t("有任何疑問嗎？") %></h1>
      </div>
      <div class="complete-text" id="complete-text">
        <h1 class="center"><%= t("我們將會盡快回覆您") %></h1>
      </div>
      <div class="hover-text" id="hover-text-trigger">
        <h1 class="center"><%= t("聯絡我們") %> <span class="glyphicon glyphicon-envelope"></span></h1>
      </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="container-fluid">
          <%= form_tag contactus_path, class: "emailform", remote: true, method: :post do %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= label :name, "姓名", class: "control-label sr-only" %>
                  <%= text_field_tag :name, params[:name], placeholder: t("姓名"), class: "form-control input-lg" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= label :email, "E-mail", class: "control-label sr-only" %>
                  <%= text_field_tag :email, params[:email], placeholder:"E-mail", class: "form-control input-lg" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="text-align: center;">
                <div class="form-group">
                  <%= label :subject, "主旨", class: "control-label sr-only" %>
                  <%= text_field_tag :subject, params[:subject], placeholder: t("主旨"), class: "form-control input-lg" %>
                </div>
                 <div class="form-group">
                  <%= label :message, "訊息", class: "control-label sr-only" %>
                  <%= text_area_tag :message, params[:message], placeholder: t("訊息"), class: "form-control input-lg", rows:7 %>
                </div>
                <div class="form-group">
                  <%= button_tag t("送出"), class: "btn btn-lg btn-default", id: "emailsubmit" %>
                </div>
                <div style="color:red;font-weight: 600;font-size: 17px;">
                  <div id="unfinished" style="display:none;">
                    <%= t("請填寫所有欄位") %>
                  </div>
                  <div id="emailformat" style="display:none;">
                    <%= t("請輸入一個有效的E-mail") %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(window).bind('scroll',function(){
    var navheight=$(window).height()-70;
    var introtop=$(window).height()-200;
    var introbottom=$(window).height()+600;
    var purposetop=$(window).height()+2000;
    var purposebottom=$(window).height()+2300;
    var purposetopmin=$(window).height()+2100;
    var purposebottommin=$(window).height()+2200;
    if ($(window).scrollTop()>navheight){
      $('.navbar-default').addClass('on');
    }
    else{
      $('.navbar-default').removeClass('on');
    }
    if ($(window).scrollTop()>introtop && $(window).scrollTop()<introbottom){
      $('.intro_holder').addClass('active');
    }
    else{
      $('.intro_holder').removeClass('active');
    }
    if ($(window).scrollTop()>purposetopmin && $(window).scrollTop()<purposebottommin){
      $('#container').removeClass('fadein');
      setTimeout(function(){$('.d1_holder').removeClass('hiddenleft');},1200)
      setTimeout(function(){$('.d2_holder').removeClass('hiddenleft');},1400)
      setTimeout(function(){$('.d3_holder').removeClass('hiddenleft');},1600)
      setTimeout(function(){$('.d1_holder').addClass('hiddenright');},4200)
      setTimeout(function(){$('.d2_holder').addClass('hiddenright');},4400)
      setTimeout(function(){$('.d3_holder').addClass('hiddenright');},4600)
      setTimeout(function(){$('#container').removeClass('standby');},5300)
      setTimeout(function(){$('#container').addClass('cantransform').addClass('transform');},6000)
    }
    if($('#container').hasClass('cantransform') && $(window).scrollTop()>purposetop && $(window).scrollTop()<purposebottom){
      $('#container').addClass('transform')
    }
    else{
      $('#container').removeClass('transform');
    }
  })
  $('.contactTrigger').click(function(){
    $('.contactus').css({
      "background-attachment": "fixed",
      "background-size":"cover"
    });
    $(this).removeClass('contactTrigger');
    $('#hover-text-trigger').removeAttr("id");
    if ($('#collapseOne').hasClass("in")){
      $('#collapseOne').removeAttr("id");
    }
  })
  $('#emailsubmit').click(function(){
    if($('#name').val()=="" || $('#email').val()=="" || $('#subject').val()=="" || $('#message').val()==""){
      $('#unfinished').css('display','inline');
      $('#emailformat').css('display','none');
      return false;
    }
    else if(validEmail($('#email').val())==false){
      $('#unfinished').css('display','none');
      $('#emailformat').css('display','inline');
      return false;
    }
    else{
      $('#unfinished').css('display','none');
      $('#emailformat').css('display','none');
    }
    function validEmail(value){
      var rule = new RegExp(/^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{1,10}$/i)
      return rule.test(value)
    }
    $('.panel-collapse').collapse("hide");
    $('#headingOne').attr("href","");
    $('#complete-text').css('opacity',1);
    $('#default-text').css('opacity',0);
  })
</script>
