<div class="container search">
  <h3 class="center"><%= t("報名查詢") %></h3>
  <hr class="hr">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <%= form_tag registers_path,method: :get do %>
        <%= label :search,t("請輸入E-mail") %>
        <%= text_field_tag :search, params[:search], placeholder:"E-mail", class: 'form-control' %>
        <%= label :n,t("請輸入姓名") %>
        <%= text_field_tag :n, params[:n], placeholder: t("姓名"), class: 'form-control' %>
        <br>
        <div class="center">
          <%=submit_tag t("查詢"), name: nil, class: "btn btn-lg btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>