<div class="container searchindex center">
  <h3><%= t("報名編號") %><%= @register.merchant_trade_no %></h3>
  <hr class="hr">
  <div class="register_holder">
    <% if @register.prohibit==true %>
      <p class="bg-danger"><%= t("已封鎖") %></p>
    <% else %>
      <% if @register.paystatus==3 %>
        <p class="bg-success"><%= t("已付款") %></p>
      <% elsif @register.paystatus==1 %>
        <p class="bg-danger"><%= t("帳單金額錯誤") %></p>
      <% else %>
        <p class="bg-danger"><%= t("尚未付款") %></p>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <tbody>
        <table class="table table-hover">
          <tr>
            <td><%= t("報名者姓名") %></td>
            <td><%= @register.name %></td>
          </tr>
          <tr>
            <td>E-mail</td>
            <td><%= @register.email %></td>
          </tr>
          <% if @register.paystatus==1 || @register.paystatus==3 %>
            <tr>
              <td><%= t("付款金額") %></td>
              <td><%= @transaction.params["TradeAmt"] %></td>
            </tr>
            <tr>
              <td><%= t("付款日期") %></td>
              <td><%= @transaction.params["PaymentDate"] %></td>
            </tr>
            <tr>
              <td><%= t("付款方式") %></td>
              <td><%= @transaction.params["PaymentType"] %></td>
            </tr>
          <% end %>
        </table>
      </tbody>
      
    </div>
  </div>

  <% if @register.prohibit==false %>
    <% if @register.paystatus==2 %>
      <div>
        <%= form_tag allpayform_path, method: :get do %>
          <%= hidden_field_tag :register, params[:register],value: @register.email %>
          <%=submit_tag t("付款"), name: nil, class: "btn btn-lg btn-success" %>
        <% end %>
      </div>
    <% elsif @register.paystatus==3 %>
      <% if hasTdmfile?(@register) %>
        <div style="padding: 50px 0;">
          <h3><%= t("檔案上傳說明") %><i class="fa fa-file"></i></h3>
          <br>
          <h4><%= t("3D列印設計圖上傳限IGS檔") %></h4>
          <h4><%= t("請以作品名稱命名欲上傳之3D列印設計圖檔") %>  <small><%= t("例") %>：”<%= t("恐龍骨架模型") %>.igs“</small></h4>
          <h4><%= t("並至少上傳最少一張，最多三張之該模型照片") %></h4>
        </div>
        <%= form_for(@tdmfile, html: { multipart: true }) do |f| %>
          <input type="hidden" name="email" id="email" value="<%= @register.email %>" />
          <input type="hidden" name="name" id="name" value="<%= @register.name %>" />
          <div class="row igs_holder">
            <div class="col-xs-12 col-md-12">
              <%= f.file_field :igsfile, "data-buttonText":t("選擇檔案"), "data-placeholder":'IGS', class:'filestyle', style:"display:inline-block", accept: '.igs' %>
            </div>
            <div class="error_holder">
              <p class="igserror hidden igstype"><%= t("檔案格式錯誤") %></p>
              <p class="igserror hidden igssize"><%= t("檔案大小超過5MB，請選擇更小的檔案") %></p>
            </div>
          </div>
          <div class="row picture_holder">
            <% 3.times do |n| %>
              <div class="col-xs-4 col-md-4">
                <div id="picture<%= n+1 %>Preview" class="picturePreview">
                  <div class="delete_holder">
                    <div id="picture<%= n+1 %>" class="deleteButton">×</div>
                  </div>
                </div>
                <div style="display: inline-block;">
                  <%= f.file_field :picture1, id:"picture#{n+1}file", class:"filestyle uploadFile", name:"tdmfile[picture#{n+1}]", "data-input":false, "data-badge":false, "data-buttonText":t("選擇圖片"), "data-iconName":'glyphicon glyphicon-camera', accept: 'image/jpeg,image/png' %>
                </div>
                <div style="position: absolute;right:30%;">
                  <p class="pictureerror hidden picture<%= n+1 %>type"><%= t("檔案格式錯誤") %></p>
                </div>
                <div style="position: absolute;">
                  <p class="pictureerror hidden picture<%= n+1 %>size"><%= t("檔案大小超過800KB，請選擇更小的檔案") %></p>
                </div>
              </div>
            <% end %>
          </div>
          <div>
            <%= f.submit t("確定並上傳"), class: "btn btn-primary btn-lg", id: "filesubmit" %>
          </div>
        <% end %>
        
        <script>
          function pictureDelete(id){
            $('#'+id+'Preview').css("background-image","url()");
            $('#'+id+"file").filestyle('clear');
            $('#'+id).css('display','none');
          }
          $('.deleteButton').click(function(){
            var id=$(this).attr('id')
            pictureDelete(id)
          })
          $('#tdmfile_igsfile').on("change",function(){
            if($(this).val()==""){
              $(this).filestyle('clear');
            }
          })
          $('.uploadFile').on("change",function(){
            var size_in_megabytes = this.files[0].size/1024/1024;
            var n;
            if ($(this).is("#picture1file")){n="picture1"}
            if ($(this).is("#picture2file")){n="picture2"}
            if ($(this).is("#picture3file")){n="picture3"}
            if($('#'+n+'file').val()==""){
              pictureDelete(n)
            }
            else{
              if(size_in_megabytes>0.8){
                pictureDelete(n)
                $('.'+n+'type').addClass('hidden');
                $('.'+n+'size').removeClass('hidden');
              }
            }
          })
          checkFileSize($('#tdmfile_igsfile'))
          checkFileSize($('#picture1file'))
          checkFileSize($('#picture2file'))
          checkFileSize($('#picture3file'))
          $('#new_tdmfile').submit(function(){
            if($('#tdmfile_igsfile').val()!=""){
              if(($('#picture1file').val()!="") || ($('#picture2file').val()!="") || ($('#picture3file').val()!="")){return true}
            }
            alert('<%= t("上傳的檔案不完整") %>');
            return false
          })
          function checkFileSize(file){
            file.bind('change', function(){
              var size_in_megabytes = this.files[0].size/1024/1024;
              var ext=file.val().split('.').pop().toLowerCase();
              if(file.is('#tdmfile_igsfile')){
                if($.inArray(ext,['igs'])==-1){
                  $('.igstype').removeClass('hidden');
                  $('#tdmfile_igsfile').filestyle('clear');
                  resetFormElement($(this))
                }
                else{
                  if (size_in_megabytes>5){
                    $('.igssize').removeClass('hidden');
                    $('#tdmfile_igsfile').filestyle('clear');
                    resetFormElement($(this))
                  }
                  else{
                    $('.igstype').addClass('hidden');
                    $('.igssize').addClass('hidden');
                  }
                }
              }
              else{
                var n;
                if (file.is("#picture1file")){n="picture1"}
                if (file.is("#picture2file")){n="picture2"}
                if (file.is("#picture3file")){n="picture3"}
                if($.inArray(ext,['png','jpg','jpeg'])==-1){
                  $('.'+n+'type').removeClass('hidden');
                  $('.'+n+'size').addClass('hidden');
                  pictureDelete(n)
                  resetFormElement($(this))
                }
                else{
                  if(size_in_megabytes>0.8){
                    resetFormElement($(this))
                  }
                  else{
                    $('.'+n+'type').addClass('hidden');
                    $('.'+n+'size').addClass('hidden');
                    $('#'+n).css('display','inline-block');
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return;
                    if (/^image/.test( files[0].type)){
                      var reader = new FileReader();
                      reader.readAsDataURL(files[0]);
                      reader.onloadend = function(){
                        $("#"+n+"Preview").css("background-image", "url("+this.result+")");
                      }
                    }
                  }
                }
              }
            })
          }
          function resetFormElement(e){
            e.wrap('<form>').closest('form').get(0).reset();
            e.unwrap();
            e.stopPropagation();
            e.preventDefault();
          }
        </script>
      <% else %>
        <div style="padding: 20px 0;">
          <h3><%= t("上傳完成") %></h3>
          <% tdmfile=@register.tdmfiles.first %>
          <%= tdmfile.igsfile.to_s.rpartition("/").last %>
        </div>
        <% if tdmfile.picture1.url!=nil %>
          <div class="picturePreview" style="background-image: url('<%= @register.tdmfiles.first.picture1.url %>');"></div>
        <% end %>
        <% if tdmfile.picture2.url!=nil %>
          <div class="picturePreview" style="background-image: url('<%= @register.tdmfiles.first.picture2.url %>');"></div>
        <% end %>
        <% if tdmfile.picture3.url!=nil %>
          <div class="picturePreview" style="background-image: url('<%= @register.tdmfiles.first.picture3.url %>');"></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
