<h3 class="center">報名編號<%= @register.merchant_trade_no %></h3>
<hr class="hr">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="center" style="width:20vw; font-size:2vw; margin-left:15vw; font-family:Helvetica;">
      <% if @register.paid? %>
        <p class="bg-success">已付款</p>
      <% else %>
        <p class="bg-danger">尚未付款</p>
      <% end %>
    </div>
    <tbody>
      <table class="table table-hover">
        <tr>
          <td>報名者姓名</td>
          <td><%= @register.name %></td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td><%= @register.email %></td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td><%= @transactions %></td>
        </tr>
      </table>
    </tbody>

    <div style="padding-left:41%">
      <%= ez_allpay_for @register, :setting => { :value => "付款", :css => "btn btn-lg btn-success" } do %>
        <% attr_instead :MerchantTradeNo => @register.transactions.create!.trade_number %>
        <% attr_instead :MerchantTradeDate => @register.transactions.last.created_at.strftime("%Y/%m/%d %T") %>
        <% attr_instead :PaymentType => "aio" %>
        <% attr_instead :ChoosePayment => "Credit" %>
        <% attr_instead :TotalAmount => "1" %>
        <% attr_instead :TradeDesc => "報名費1" %>
        <% attr_instead :ItemName => "LINE DDD 3D列印競賽" %>
        <% attr_instead :ClientBackURL => "http://tdpcontest.herokuapp.com/notify" %>
        <% attr_instead :ReturnURL => "http://tdpcontest.herokuapp.com/notify" %>
      <% end %>
    </div>
    
  </div>
</div>