<h3 class="center">報名編號<%= @register.merchant_trade_no %></h3>
<hr class="hr">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="center" style="width:20vw; font-size:2vw; margin-left:15vw; font-family:Helvetica;">
      <% if @register.paystatus==3 %>
        <p class="bg-success">已付款</p>
      <% elsif @register.paystatus==1 %>
        <p class="bg-danger">帳單金額錯誤</p>
      <% else %>
        <p class="bg-danger">尚未付款</p>
      <% end %>
    </div>
    <tbody>
      <table class="table table-hover">
        <tr>
          <td>報名者姓名</td>
          <td><%= @register.name %></td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td><%= @register.email %></td>
        </tr>
        <% if @register.paystatus==1 || @register.paystatus==3 %>
          <tr>
            <td>付款金額</td>
            <td><%= @transaction.params["TradeAmt"] %></td>
          </tr>
          <tr>
            <td>付款日期</td>
            <td><%= @transaction.params["PaymentDate"] %></td>
          </tr>
          <tr>
            <td>付款方式</td>
            <td><%= @transaction.params["PaymentType"] %></td>
          </tr>
          <tr>
            <td>歐付寶商品交易碼</td>
            <td><%= @transaction.params["MerchantTradeNo"] %></td>
          </tr>
        <% end %>
      </table>
    </tbody>

    <% if @register.paystatus==2 %>
      <div style="padding-left:40%">
        <%= ez_allpay_for @register, :setting => { :value => "付款", :css => "btn btn-lg btn-success" } do %>
          <% attr_instead :MerchantTradeNo => @register.transactions.create!.trade_number %>
          <% attr_instead :MerchantTradeDate => @register.transactions.last.created_at.strftime("%Y/%m/%d %T") %>
          <% attr_instead :PaymentType => "aio" %>
          <% attr_instead :ChoosePayment => "Credit" %>
          <% attr_instead :TotalAmount => "1" %>
          <% attr_instead :TradeDesc => "報名費1" %>
          <% attr_instead :ItemName => "LINE DDD 3D列印競賽" %>
          <% attr_instead :ClientBackURL => "http://tdpcontest.herokuapp.com/registers?utf8=%E2%9C%93&search="+CGI::escape(@register.email)+"&n="+CGI::escape(@register.name) %>
          <% attr_instead :ReturnURL => "http://tdpcontest.herokuapp.com/notify" %>
        <% end %>
      </div>
    <% elsif @register.paystatus==3 %>
      <% if @transaction.params["PaymentType"]=="Credit_CreditCard" %>
        <!-- <div style="padding-left:40%">
          <form action="https://payment.allpay.com.tw/CreditDetail/DoAction" method="post">
            <% @params.each do |key,value| %>
              <input type="text" name="<%= key %>" value="<%= value %>" style="display: none">
              <% end %>
            <input type="submit" value="退刷" class="btn btn-lg btn-success">
          </form>
        </div> -->
      <% end %>
      <% if @register.tdmfiles.count==0 %>
        <%= form_for(@tdmfile, html: { multipart: true }) do |f| %>
          <input type="hidden" name="email" id="email" value="<%= @register.email %>" />
          <%= f.file_field :igsfile, accept: '.igs' %>
          <%= f.file_field :picture1, accept: 'image/jpeg,image/png' %>
          <%= f.file_field :picture2, accept: 'image/jpeg,image/png' %>
          <%= f.file_field :picture3, accept: 'image/jpeg,image/png' %>
          <%= f.submit "送出", class: "btn btn-primary", id: "filesubmit" %>
        <% end %>
        <script>
          checkFileSize($('#tdmfile_igsfile'))
          checkFileSize($('#tdmfile_picture1'))
          checkFileSize($('#tdmfile_picture2'))
          checkFileSize($('#tdmfile_picture3'))
          $('#new_tdmfile').submit(function(){
            if($('#tdmfile_igsfile').val()!=""){
              if(($('#tdmfile_picture1').val()!="") || ($('#tdmfile_picture2').val()!="") || ($('#tdmfile_picture3').val()!="")){return true}
            }
            alert('上傳的檔案不完整');
            return false
          })
          function checkFileSize(file){
            file.bind('change', function(){
              var size_in_megabytes = this.files[0].size/1024/1024;
              if(file.is('#tdmfile_igsfile')){
                if (size_in_megabytes>5){
                  alert('檔案大小超過5MB，請選擇更小的檔案');
                  resetFormElement($(this))
                }
              }
              else if(size_in_megabytes>0.8){
                alert('圖片超過800KB，請選擇更小的圖片');
                resetFormElement($(this))
              }
            })
          }
          function resetFormElement(e){
            e.wrap('<form>').closest('form').get(0).reset();
            e.unwrap();
            e.stopPropagation();
            e.preventDefault();
          }
        </script>
      <% else %>
        <p>
          <% if @register.tdmfiles.count!=0 %>
            <% tdmfile=@register.tdmfiles.first %>
            <%= tdmfile.igsfile.to_s.rpartition("/").last %>
            <%= image_tag tdmfile.picture1.url %>
            <%= image_tag tdmfile.picture2.url %>
            <%= image_tag tdmfile.picture3.url %>
          <% end %>
        </p>
      <% end %>
    <% end %>
    
  </div>
</div>
