<h2 class="center">作品管理</h2>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5 class="center">總件數：<%= @tdmfiles.count %></h5>
    </div>
  </div>
</div>
<hr>
<table class="table">
  <tr style="font-weight: bolder;">
    <td>作品名稱</td>
    <td>預覽圖</td>
    <td>姓名</td>
    <td>E-mail</td>
    <td>報名編號</td>
  </tr>
  <% image=0 %>
  <% @tdmfiles.each do |tdmfile| %>
    <% register=Register.find_by(:id=>tdmfile.register_id) %>
    <tr>
      <td><%= link_to tdmfile.igsfile.to_s.rpartition("/").last,tdmfile.igsfile.url %></td>
      <td>
        <% image+=1 %>
        <% if tdmfile.picture1.url!=nil %>
          <%= link_to (image_tag tdmfile.picture1.url, size:"30x30"),tdmfile.picture1.url,:class => "listener", :id => "#{image}image1", :target =>"_blank" %>
          <%= image_tag tdmfile.picture1.url,:class => "largeimage", :id => "#{image}image1large" %>
        <% end %>
        <% if tdmfile.picture2.url!=nil %>
          <%= link_to (image_tag tdmfile.picture2.url, size:"30x30"),tdmfile.picture2.url,:class => "listener", :id => "#{image}image2", :target =>"_blank" %>
          <%= image_tag tdmfile.picture2.url, :class => "largeimage", :id => "#{image}image2large" %>
        <% end %>
        <% if tdmfile.picture3.url!=nil %>
          <%= link_to (image_tag tdmfile.picture3.url, size:"30x30"),tdmfile.picture3.url,:class => "listener", :id => "#{image}image3", :target =>"_blank" %>
          <%= image_tag tdmfile.picture3.url, :class => "largeimage", :id => "#{image}image3large" %>
        <% end %>
      </td>
      <td><%= register.name %></td>
      <td><%= register.email %></td>
      <td><%= register.merchant_trade_no %></td>
    </tr>
  <% end %>
</table>
<p class="sef"></p>

<script>
  $('.listener').hover(
    function(){
      var n=$(this).attr('id')
      $('#'+n+"large").stop().animate({"opacity":"1"},"fast");
      $('#'+n+"large").css('zIndex','1')
    },
    function(){
      var n=$(this).attr('id')
      $('#'+n+"large").stop().animate({"opacity":"0"},"fast");
      $('#'+n+"large").css('zIndex','-1')
    }
  )
</script>