<div class="container">
  <div class="row">
    <div class="col-md-12" style="font-family: Microsoft JhengHei;">
      <div class="thumbnail">
        <img src="<%= @work.picture %>" data-src="holder.js/100%x180"/>
        <div class="center">
          <% if language=='en' %>
            <h3>Title ： <%= @work.workname %></h3>
            <p>Contestants ： <%= @work.name %></p>
          <% elsif language=='sc' %>
            <h3>作品名称 ： <%= @work.workname %></h3>
            <p>参赛者 ： <%= @work.name %></p>
          <% else %>
            <h3>作品名稱 ： <%= @work.workname %></h3>
            <p>參賽者 ： <%= @work.name %></p>
          <% end %>
          <br>
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-share-button" data-href="http://tdpcontest.herokuapp.com<%= work_path(@work.id) %>" data-layout="button_count"></div>
        </div>
      </div>
    </div>
  </div>
</div>