<footer class="footer">
  <div class="footer_holder">
    <div class="footer_upcontainer">
      <div class="footer_text">
        <p>
          Copyright 2016© LINE  Design．Dream．Discover
        </p>
        <p>
          <i class="fa fa-flag"></i> Taiwan R.O.C
        </p>
        <p>
          <i class="fa fa-map-marker"></i> 台北市信義路5段5號3E47 世貿國際商辦大樓
        </p>
        <p>
          <i class="fa fa-phone"></i> 02-27295680
        </p>
        <p>
          <i class="fa fa-fax"></i> 02-27297107
        </p>
        <p>
          <i class="fa fa-envelope"></i> LINEDDD@gmail.com
        </p>
      </div>
      <div class="footer_socialicon">
        <a href="https://www.facebook.com/" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://twitter.com/" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="http://www.youtube.com/" target="_blank">
          <i class="fa fa-youtube"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
    <div class="footer_img">
    </div>
    <div class="footer_icon">
      <i class="fa fa-cc-visa"></i>
      <i class="fa fa-cc-mastercard"></i>
      <i class="fa fa-cc-jcb"></i>
    </div>
    <div style="padding:50px;right:0;px;color:white;position:relative;">
      <%= form_for(:session,url:language_path) do |f| %>
        <%= f.hidden_field :language, value:"en" %>
        <%= f.submit "English", id:"enbutton", style:"background:none; border:0;outline:0;right:140px;position:absolute;" %>
      <% end %>
      <%= form_for(:session,url:language_path) do |f| %>
        <%= f.hidden_field :language, value:"sc" %>
        <%= f.submit "简体中文", id:"scbutton",style:"background:none; border:0;outline:0;right:70px;position:absolute;" %>
      <% end %>
      <%= form_for(:session,url:language_path) do |f| %>
        <%= f.hidden_field :language, value:"tc" %>
        <%= f.submit "繁體中文", id:"tcbutton",style:"background:none; border:0;outline:0;right:0;position:absolute;" %>
      <% end %>
    </div>
  </div>
    
</footer>

<script type="text/javascript">
  <%if !isHome? %>
    $(window).bind('scroll',function(){
      $('.navbar-default').addClass('on');
    })
  <% end %>
</script>