<!DOCTYPE html>
<html>
<head>
  <title>3DPrintingContest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>
<body>
  <%= render 'layouts/header' %>
  <!-- <div class="container-fluid">
    <% flash.each do |message_type,message| %>
      <%= content_tag(:div,message,class: "alert alert-#{message_type}") %>
    <% end %>
  </div> -->
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
